name: Publish

on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
    paths:
      - 'pubspec.yaml'
      - 'lib/**'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Publish Check (Dry Run)
        run: flutter pub publish --dry-run

      - name: Publish package
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          mkdir -p ~/.config/dart
          echo '${{ secrets.PUB_DEV_CREDENTIALS_JSON }}' > ~/.config/dart/pub-credentials.json
          flutter pub publish --force
